html,
body {
    margin: 0;
}
.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
}

.border {
    width: 30rem;
    justify-content: center;
}

button {
    width: 5rem;
    height: 5rem;
    margin: 20px, 20px;
}

.btn {
    pointer-events: none;
}